body {
  margin: 0 !important;
  font-family: Arial, sans-serif !important;
}

.container-top {
  display: flex;
  height: 48px;
  justify-content: end;
  align-items: center;
  padding: 6px;
}
.container-top .container-links {
  height: 48px;
  font-size: small;
  display: flex;
  align-items: center;
  padding-right: 15px;
  margin-right: 15px;
}
.container-top .container-links a {
  margin-left: 15px;
  text-decoration: none;
  color: black;
}
.container-top .container-links a:hover {
  text-decoration: underline;
}

.container-top {
  padding: 8px;
}
.container-top .container-logo {
  display: flex;
  height: 24px;
  margin-left: 8px;
  padding: 6px;
}
.container-top .container-logo a img {
  height: 24px;
}

.container-bottom .container-bottom-label {
  height: 23px;
  font-size: 20px;
  margin: 25px 35px;
}
.container-bottom .container-bottom-label .search-label {
  color: #d93025;
}
.container-bottom .container-bottom-label .search-label label {
  margin-left: 10px;
}
.container-bottom .horizontal-rule {
  border: 1px solid rgba(235, 235, 235, 0.6);
}
.container-bottom table {
  margin-top: 39px;
  margin-left: 45px;
}
.container-bottom table thead tr {
  display: flex;
}
.container-bottom table thead tr th {
  padding: 0;
  height: 41px;
}
.container-bottom table thead tr th:nth-child(1) {
  width: 182px;
  align-items: flex-start;
  font-weight: lighter;
  font-size: 16px;
}
.container-bottom table thead tr th:nth-child(1) div {
  text-align: start;
  margin: 6px 0px;
}
.container-bottom table thead tr th:nth-child(2) {
  width: 569px;
}
.container-bottom table tbody tr {
  display: flex;
}
.container-bottom table tbody tr td {
  padding: 0;
  height: 41px;
}
.container-bottom table tbody tr td:nth-child(1) {
  width: 182px;
  align-items: flex-start;
  font-size: 13px;
}
.container-bottom table tbody tr td:nth-child(1) div {
  margin: 7px 0px;
}
.container-bottom table tbody tr td:nth-child(2) {
  align-items: flex-start;
  width: 569px;
}
.container-bottom table tbody tr td:nth-child(2) input {
  outline: none;
  border: 1px solid #d9d9d9;
  border-top: 1px solid silver;
  padding: 1px 8px;
  width: 552px;
  height: 25px;
}
.container-bottom table tbody tr td:nth-child(2) input:focus {
  border: 1px solid #4d90fe;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset;
}
.container-bottom table tbody tr td.container-button {
  display: flex;
  justify-content: end;
  align-items: center;
}
.container-bottom table tbody tr td.container-button input {
  border-radius: 2px;
  font-size: 11px;
  width: 120px !important;
  height: 30px !important;
  margin: 10px 0px;
  padding: 0px 12px !important;
  border: 1px solid #3079ed;
  background: linear-gradient(#4c8ffd, #4787ed);
  color: white;
  font-weight: bold;
}
.container-bottom table tbody tr td.container-button input:hover {
  border: 1px solid #2f5bb7;
  background: linear-gradient(#4c8ffd, #357ae8);
}
.container-bottom table tbody tr td.container-button input:active {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2) inset;
}
.container-bottom table tbody tr td.container-button input:active:not(:hover) {
  border: 1px solid #2f5bb7;
  background: #357ae8;
}
.container-bottom table tbody tr td.container-button input:not(:active):not(:hover):focus {
  border: 1px solid #4787ed;
  box-shadow: 0 0 0 1px white inset;
}

/*# sourceMappingURL=advsearch.css.map */
